<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CICDProject.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>03D208F52826BF2700FFB3C3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>03D209052826BF2900FFB3C3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>03D2090F2826BF2900FFB3C3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
